.bg-container {
    background-image: url("https://image.freepik.com/free-vector/greenery-leaves_1308-3903.jpg");
    height: 100vh;
    background-size: cover;
    padding: 25px;
}

.coding-card {
    background-color: #00000080;
    border-style: solid;
    border-width: 6px;
    border-color: #48ee59;
    padding: 45px;

}

.main-heading {
    color: #ffffff;
    font-family: "Bree Serif";
    font-size: 40px;
}